@font-face {
    font-family: SourceHanSerifCN-Heavy;
    src: url('../style/fonts/SourceHanSerifCN-Heavy.otf');
}

@font-face {
    font-family: SourceHanSerifCN-Bold;
    src: url('../style/fonts/SourceHanSerifCN-Bold.otf');
}

@font-face {
    font-family: SourceHanSerifCN-SemiBold;
    src: url('../style/fonts/SourceHanSerifCN-SemiBold.otf');
}

@font-face {
    font-family: SourceHanSerifCN-Medium;
    src: url('../style/fonts/SourceHanSerifCN-Medium.otf');
}

@font-face {
    font-family: SourceHanSerifCN-Regular;
    src: url('../style/fonts/SourceHanSerifCN-Regular.otf');
}

@font-face {
    font-family: SourceHanSerifCN-Light;
    src: url('../style/fonts/SourceHanSerifCN-Light.otf');
}

@font-face {
    font-family: SourceHanSerifCN-ExtraLight;
    src: url('../style/fonts/SourceHanSerifCN-ExtraLight.otf');
}
.larger {
    font-family: SourceHanSerifCN-Heavy;
    font-size: 300%;
    margin-bottom: 10px;
    margin-top: 0px;
}

.large {
    font-family: SourceHanSerifCN-Bold;
    font-size: 200%;
    color: #999;
    text-align: center;
}