body{
    font-family: 'Avenir', sans-serif;
}

.mytoggler{
    border:none;
}

.bg-1{
    background: url("../asset/photo-1510557880182-3d4d3cba35a5.jpeg");
    background-size: cover;
}
.bg-2{
    background: url("../asset/kelly-sikkema-lJrTJHzQjOs-unsplash.jpg") no-repeat;
    background-size: cover;
}
.bg-3{
    background: url("../asset/christopher-gower-m_HRfLhgABo-unsplash.jpg") no-repeat;
    background-size: cover;
}
.bg-4{
    background: url("../asset/photo-1457369804613-52c61a468e7d.jpeg") no-repeat;
    background-size: cover;
}
.bg-5{
    background: url("../asset/photo-1498330177096-689e3fb901ca.jpeg") no-repeat;
    background-size: cover;
}

.divb{
    min-height: 1000px;
    display:flex;
    align-items:center;
}

img {
    border:0;
}

.bg-apple-dark{
    background-color: rgba(0, 0, 0, .85);
    opacity: 0.85;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.bg-apple-dark a {
    color: #999;
    transition: ease-in-out color .15s;
}
.bg-apple-dark a:hover {
    color: #fff;
    text-decoration: none;
}

.text-white{
    color: white;
}

.bg-prim{
    background-color: black;
}

.div-center{
    text-align:center;
}


.alink{
    color:white;
    opacity: 0.8;
}

.alink:hover{
    color:white;
    opacity: 1.0;
}

.alink-dark{
    color:black;
    opacity: 0.75;
}

.alink-dark:hover{
    color:black;
    opacity: 1.0;
}

.alink-dark2{
    color:black;
    opacity: 1.0;
}

.alink-dark2:hover{
    color:black;
    opacity: 0.75;
}

.small-lg{
    height: 250px;
    width: 250px;
}

.tiny-lg{
    height: 100px;
    width: 100px;
}