@font-face {
    font-family: SourceHanSerifCN-Heavy;
    src: url('fonts/SourceHanSerifCN-Heavy.otf');
}
@font-face{
    font-family: SourceHanSerifCN-Bold;
    src: url('fonts/SourceHanSerifCN-Bold.otf');
}
@font-face {
    font-family: SourceHanSerifCN-SemiBold;
    src: url('fonts/SourceHanSerifCN-SemiBold.otf');
}
@font-face {
    font-family: SourceHanSerifCN-Medium;
    src: url('fonts/SourceHanSerifCN-Medium.otf');
}
@font-face {
    font-family: SourceHanSerifCN-Regular;
    src: url('fonts/SourceHanSerifCN-Regular.otf');
}
@font-face {
    font-family: SourceHanSerifCN-Light;
    src: url('fonts/SourceHanSerifCN-Light.otf');
}
@font-face {
    font-family: SourceHanSerifCN-ExtraLight;
    src: url('fonts/SourceHanSerifCN-ExtraLight.otf');
}
#main{
    font-family: SourceHanSerifCN-Heavy;
    font-size: larger;
}