.larger {
    font-family: SourceHanSerifCN-Heavy;
    font-size: 300%;
    margin-bottom: 10px;
    margin-top: 0px;
}

.large {
    font-family: SourceHanSerifCN-Bold;
    font-size: 200%;
    color: #999;
    text-align: center;
}